
<div class="container">
	<div class='jumbotron'>
		<h1>Simplify Life!</h1>
		<h3>Pinteresting lets you manage your social plans, all from one convenient location. So you spend less time planning and more doing fun things with your friends.</h3>
		
		<p>&nbsp</p>
		<p>&nbsp</p>
		<p><Center>Start Simplifying Your Life Today! <%= link_to "Sign Up!" , "#", class: "btn btn-primary btn-lg" %></Center></p>
	</div>
</div>
